/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
npm-debug.log
.DS_Store
.rnd
/public/admin/css/app.css
/public/admin/css/app.js
.idea
*/.idea
