// dialog
.el-dialog__body {
  padding: 1em 20px;
}

.el-dialog__footer {
  padding-top: 0;
}

.el-dialog__header {
  box-shadow: 0 2px 0 rgba(236, 238, 239, 0.45);
  padding-bottom: 15px;

  .el-dialog__title {
    font-size: 21px;
    font-weight: bold;
  }

  .el-dialog__headerbtn {
    font-size: 24px;
  }

  @include user-select();
}

.el-dialog.is-fullscreen {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fff;
  overflow: hidden;

  .el-dialog__body {
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-top: 0.3em;
  }
}

.el-message-box {
  @include user-select();
}

.el-button {
  border-radius: 3px;

  &,
  i {
    font-weight: bold;
  }
}

.el-button.v-button--upload {
  position: relative;
  margin: 0;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }
}

.is-plain {
  border-width: 2px;
  border-color: #bbcfef;
}

.el-button--primary.is-plain {
  border-color: $primary-color;
  background: rgba(255, 255, 255, 0);
}

.el-button--success.is-plain {
  border-color: $green-color;
  background: rgba(255, 255, 255, 0);
}

.el-button--danger.is-plain {
  border-color: $red-color;
  background: rgba(255, 255, 255, 0);
}

.el-input-number {
  width: 100%;
}

.el-form-item {
  margin-bottom: 7px;
}

// .el-textarea__inner,
// .el-input__inner {
//     transition: unset;

//     &:focus {
//         border-color: $primary-color;
//         box-shadow: 0 0 0 1px $primary-color;
//     }
// }

.el-tooltip__popper {
  font-weight: bold;

  @include user-select();
}

.el-alert {
  border-left: 2px solid;
}

