
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Fonts Awesome
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';

@import 'node_modules/element-ui/packages/theme-chalk/src/index';

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Style
@import 'common';
@import 'grid';
@import 'dialog';
@import "channel";
@import "form";
@import "user";
@import "comment";
@import "home";
@import "style";

html, body{
    height: 100%;
    overflow: hidden;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a:hover{
    cursor:pointer;
}
